Preparar a base de dados dos discentes para admissão no estágio.

In [1]:
import pandas as pd
discentes = pd.read_csv("discentes-admissao-estagio.csv", delimiter=";")
discentes.head(2)

,NOME,CPF,DATA DE NASCIMENTO,SEXO,DATA DE INICIO,DATA FIM,FORMA DE INGRESSO,PESSOA COM DEFICIÊNCIA,MODALIDADE DO ESTÁGIO,CURSO
0,ANIELLY FERNANDA REIS PEREIRA,051.385.733-81,08/09/1993,F,17/03/2022,17/03/2023,REINGRESSO SEGUNDO CICLO,Não,Não obrigatório,ENGENHARIA MECÂNICA - SÃO LUÍS
1,ARTHUR FRANCA MARTINS,063.500.693-66,09/06/1997,M,01/08/2022,31/12/2022,REINGRESSO SEGUNDO CICLO,Não,Não obrigatório,ENGENHARIA MECÂNICA - SÃO LUÍS

Verificar as informações na tabela, para ter noção dos tipos de variáveis dentro da base.

In [2]:
discentes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   NOME                    40 non-null     object
 1   CPF                     40 non-null     object
 2   DATA DE NASCIMENTO      40 non-null     object
 3   SEXO                    40 non-null     object
 4   DATA DE INICIO          40 non-null     object
 5   DATA FIM                40 non-null     object
 6   FORMA DE INGRESSO       40 non-null     object
 7   PESSOA COM DEFICIÊNCIA  40 non-null     object
 8   MODALIDADE DO ESTÁGIO   40 non-null     object
 9   CURSO                   40 non-null     object
dtypes: object(10)
memory usage: 3.3+ KB

Conversão das colunas de data para o formato DateTime.

In [3]:
discentes['DATA DE INICIO'] = pd.to_datetime(discentes['DATA DE INICIO'], format= "%d/%m/%Y")
discentes['DATA DE NASCIMENTO'] = pd.to_datetime(discentes['DATA DE NASCIMENTO'], format= "%d/%m/%Y")
discentes['DATA FIM'] = pd.to_datetime(discentes['DATA FIM'], format= "%d/%m/%Y")
discentes.head()

,NOME,CPF,DATA DE NASCIMENTO,SEXO,DATA DE INICIO,DATA FIM,FORMA DE INGRESSO,PESSOA COM DEFICIÊNCIA,MODALIDADE DO ESTÁGIO,CURSO
0,ANIELLY FERNANDA REIS PEREIRA,051.385.733-81,1993-09-08,F,2022-03-17,2023-03-17,REINGRESSO SEGUNDO CICLO,Não,Não obrigatório,ENGENHARIA MECÂNICA - SÃO LUÍS
1,ARTHUR FRANCA MARTINS,063.500.693-66,1997-06-09,M,2022-08-01,2022-12-31,REINGRESSO SEGUNDO CICLO,Não,Não obrigatório,ENGENHARIA MECÂNICA - SÃO LUÍS
2,AYRTON PABLO RAIOL MONROE,056.208.173-93,1995-05-01,M,2022-01-17,2024-01-16,REINGRESSO SEGUNDO CICLO,Não,Não obrigatório,ENGENHARIA MECÂNICA - SÃO LUÍS
3,AYSLA CAROLINE SOUSA OLIVEIRA,048.413.943-62,1994-03-03,F,2021-04-12,2023-03-13,REINGRESSO SEGUNDO CICLO,Não,Não obrigatório,ENGENHARIA MECÂNICA - SÃO LUÍS
4,AYSLA CAROLINE SOUSA OLIVEIRA,048.413.943-62,1994-03-03,F,2020-10-21,2021-02-19,REINGRESSO SEGUNDO CICLO,Não,Não obrigatório,ENGENHARIA MECÂNICA - SÃO LUÍS

Separação das colunas de data, para posteriormente trabalharmos uma previsão.

In [4]:
#Separação da coluna de inicio
discentes['DIA DE INICIO'] = discentes['DATA DE INICIO'].dt.day
discentes['MÊS DE INICIO'] = discentes['DATA DE INICIO'].dt.month
discentes['ANO DE INICIO'] = discentes['DATA DE INICIO'].dt.year

#Separação da coluna de fim
discentes['DIA DE FIM'] = discentes['DATA FIM'].dt.day
discentes['MÊS DE FIM'] = discentes['DATA FIM'].dt.month
discentes['ANO DE FIM'] = discentes['DATA FIM'].dt.year

#Remoção das colunas de data de fim e início
discentes = discentes.drop(columns=['DATA DE INICIO','DATA FIM'])
discentes.head()

,NOME,CPF,DATA DE NASCIMENTO,SEXO,FORMA DE INGRESSO,PESSOA COM DEFICIÊNCIA,MODALIDADE DO ESTÁGIO,CURSO,DIA DE INICIO,MÊS DE INICIO,ANO DE INICIO,DIA DE FIM,MÊS DE FIM,ANO DE FIM
0,ANIELLY FERNANDA REIS PEREIRA,051.385.733-81,1993-09-08,F,REINGRESSO SEGUNDO CICLO,Não,Não obrigatório,ENGENHARIA MECÂNICA - SÃO LUÍS,17,3,2022,17,3,2023
1,ARTHUR FRANCA MARTINS,063.500.693-66,1997-06-09,M,REINGRESSO SEGUNDO CICLO,Não,Não obrigatório,ENGENHARIA MECÂNICA - SÃO LUÍS,1,8,2022,31,12,2022
2,AYRTON PABLO RAIOL MONROE,056.208.173-93,1995-05-01,M,REINGRESSO SEGUNDO CICLO,Não,Não obrigatório,ENGENHARIA MECÂNICA - SÃO LUÍS,17,1,2022,16,1,2024
3,AYSLA CAROLINE SOUSA OLIVEIRA,048.413.943-62,1994-03-03,F,REINGRESSO SEGUNDO CICLO,Não,Não obrigatório,ENGENHARIA MECÂNICA - SÃO LUÍS,12,4,2021,13,3,2023
4,AYSLA CAROLINE SOUSA OLIVEIRA,048.413.943-62,1994-03-03,F,REINGRESSO SEGUNDO CICLO,Não,Não obrigatório,ENGENHARIA MECÂNICA - SÃO LUÍS,21,10,2020,19,2,2021

Verificar as informações na tabela, para verificar se as colunas foram modificadas.

In [5]:
discentes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   NOME                    40 non-null     object
 1   CPF                     40 non-null     object
 2   DATA DE NASCIMENTO      40 non-null     datetime64[ns]
 3   SEXO                    40 non-null     object
 4   FORMA DE INGRESSO       40 non-null     object
 5   PESSOA COM DEFICIÊNCIA  40 non-null     object
 6   MODALIDADE DO ESTÁGIO   40 non-null     object
 7   CURSO                   40 non-null     object
 8   DIA DE INICIO           40 non-null     int32
 9   MÊS DE INICIO           40 non-null     int32
 10  ANO DE INICIO           40 non-null     int32
 11  DIA DE FIM              40 non-null     int32
 12  MÊS DE FIM              40 non-null     int32
 13  ANO DE FIM              40 non-null     int32
dtypes: datetime64[ns](1), int32(6), object(7)
memory usage: 3.6+ KB

Como queremos prever a coluna o ano de fim do estágio, devemos tratar algumas colunas de objeto para numéricas, para que sejam codificadas pela biblioteca SkLearn.

In [30]:
from sklearn.preprocessing import LabelEncoder
codificador = LabelEncoder() #Transformador codificador

#Codificação da forma de ingressos dos discentes
discentes['FORMA DE INGRESSO'] = codificador.fit_transform(discentes['FORMA DE INGRESSO'])

#Codificação da forma da modalidade de estágio dos discentes
discentes['MODALIDADE DO ESTÁGIO'] = codificador.fit_transform(discentes['MODALIDADE DO ESTÁGIO'])

#Codificação da forma da curso dos discentes
discentes['CURSO'] = codificador.fit_transform(discentes['CURSO'])

discentes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   NOME                    40 non-null     object
 1   CPF                     40 non-null     object
 2   DATA DE NASCIMENTO      40 non-null     datetime64[ns]
 3   SEXO                    40 non-null     object
 4   FORMA DE INGRESSO       40 non-null     int64
 5   PESSOA COM DEFICIÊNCIA  40 non-null     object
 6   MODALIDADE DO ESTÁGIO   40 non-null     int64
 7   CURSO                   40 non-null     int64
 8   DIA DE INICIO           40 non-null     int32
 9   MÊS DE INICIO           40 non-null     int32
 10  ANO DE INICIO           40 non-null     int32
 11  DIA DE FIM              40 non-null     int32
 12  MÊS DE FIM              40 non-null     int32
 13  ANO DE FIM              40 non-null     int32
dtypes: datetime64[ns](1), int32(6), int64(3), object(4)
memory usage: 3.6+ KB

Preparação dos modelos de teste e treino.
Na biblioteca no SKLearn, sempre damos mais dados de treino do que de teste. Ele transformará os dados em linhas em colunas, para que as probabilidades sejam estudadas em formas gráficas de vetores.

In [58]:
#Coluna que iremos prever
y = discentes['ANO DE FIM']

#Colunas que não iremos utilizar para fazer a previsão. Deve ser no formato drop para restringir as colunas.
#Transformar em uma variável toda a tabela MENOS essas colunas.
x = discentes.drop(columns=['NOME','CPF','DATA DE NASCIMENTO','SEXO','PESSOA COM DEFICIÊNCIA','ANO DE FIM'], axis = 1)

#Importar o modelo de treino e teste
from sklearn.model_selection import train_test_split

#Divisão dos dados presentes nos nas variáveis x e y.
x_treino, x_teste, y_treino, y_teste = train_test_split(x, y, test_size=0.3, random_state=42) 
#Analisará as combinações entre linhas e colunas na proporção de 30% para o conjunto de teste e 70% para o conjunto de treino.
#Random state serve para garantir a divisão dos dados sempre que executar o código

Desta forma, o modelo de teste deve utilizar a Forma de Ingresso, Modalidade de Estágio, Curso, Data de Inicio e Dia e Mês do Fim como parâmetros para nossa previsão de ano de fim.

Para esta base de dados utilizaremos o modelo de Árvore de Classificação (ExtraTreesClassifier), mas na biblioteca existem diversos modelos que podem ser utlizados para aprendizado.

In [63]:
from sklearn.ensemble import ExtraTreesClassifier

modelo = ExtraTreesClassifier()

#Fornecer variáreis para o modelo.
modelo.fit(x_treino, y_treino)
resultado =(modelo.score(x_teste, y_teste)) * 100
print(f'A máquina registrou uma probabilidade de {resultado:.2f}% de acerto.')

A máquina registrou uma probabilidade de 50.00% de acerto.

In [64]:
x_teste[10:40]

,FORMA DE INGRESSO,MODALIDADE DO ESTÁGIO,CURSO,DIA DE INICIO,MÊS DE INICIO,ANO DE INICIO,DIA DE FIM,MÊS DE FIM
25,0,0,0,17,11,2021,15,5
9,0,0,0,15,4,2024,14,4

In [65]:
previsao = modelo.predict(x_teste[10:40])
print(previsao)

[2023 2025]

Verificando valores dependentes e independentes de cada variável.

In [66]:
print(y_treino.value_counts())

ANO DE FIM
2023    12
2024     8
2022     3
2021     3
2025     2
Name: count, dtype: int64

In [67]:
print(y_teste.value_counts())

ANO DE FIM
2023    4
2024    4
2025    2
2021    1
2022    1
Name: count, dtype: int64